* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.error {
    color: #f00;
    font-size: 0.8em;
    font-style: italic;
}
